.container-fluid {
    background-image: url(./img/pexels-roman-odintsov-4553618.jpg);
    background-color: beige;
    background-position-y: 76%;
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 96vh;
}


.valoration .btn {
    transition: ease-in .3s;
    -webkit-transition: ease-in .3s;
    -moz-transition: ease-in .3s;
    -ms-transition: ease-in .3s;
    -o-transition: ease-in .3s;
}

.valoration .btn:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}





#white-box {
    margin-top: 36vh
}